body{
color:white;

background:url(/images/elephant.jpg);
background-repeat:no-repeat;
background-size: cover;
}
#nav li{
padding :15px;
font-weight:bold;
font-family: 'Merriweather', serif;
font-size:18px;
text-decoration:none;
position:sticky;
}
li{
color:green;
text-decoration:none;}

