{{#partial "content"}}

    <form action="/new/animal">
        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="rangername" name="rangername" class="form-control">
            <label for="rangername">Ranger's Name</label>
        </div>
        <div class="md-form">
            <i class="fas fa-map-marker-alt prefix"></i>
            <input type="text" id="ranger" class="form-control">
            <label for="ranger">E-mail address</label>
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="inputIconEx2" class="form-control">
            <label for="inputIconEx2">E-mail address</label>
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="inputIconEx2" class="form-control">
            <label for="inputIconEx2">E-mail address</label>
        </div>
        <div class="md-form">
            <i class="fas fa-user prefix"></i>
            <input type="text" id="inputIconEx2" class="form-control">
            <label for="inputIconEx2">E-mail address</label>
        </div>
    </form>

{{/partial}}
{{>layout.hbs}}