{{#partial "styles"}}
    <link rel="stylesheet" href="./css/index.css">
{{/partial}}

{{#partial "content"}}
<div>
    <h1>Welcome to the Mara Tracker.</h1>
    <p>"Wild animals are less wild and more human than many humans of this world"</p>

    <a href="/new/animal"><button class="btn btn-danger">Report an animal</button></a>
</div>
{{/partial}}
{{>layout.hbs}}